  body {
    background: #fafafa;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 300;
}
fieldset{
    border-left-color: aquamarine;
    border-right-color: red;
    border-top-color: red;
    border-bottom-color: yellow;
}
form{

      width  : 300px;
      height : 200px;
      margin : 0 auto;    
}
.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
    overflow: hidden;
  }
  .container {
      background:#F3F1F1;
      padding-top: 30px;
      padding-bottom: 30px;
      align-items: center;
  }
  