/*Table{  
      display: table; 
  }  
  .Title  
  {  
      display: table-caption;  
      text-align: center;  
      font-weight: bold;  
      font-size: larger; 
  }  
  .Heading  
  {  
      display: table-row;  
      font-weight: bold;  
      text-align: center;  
  }  
  .Row  
  {  
     display: table-row;  
  } */ 

  body {
    background: #fafafa;
    /*background: linear-gradient(rgb(0, 255, 193), rgb(242, 242, 242) 50%, rgb(0, 0, 0)) repeat scroll 0% 0% transparent;*/
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 300;
}
fieldset{
    border-left-color: aquamarine;
    border-right-color: red;
    border-top-color: red;
    border-bottom-color: yellow;
}
form{
   /* margin: 0 auto; 
    width:250px;*/
    
      width  : 300px;
      height : 200px;
      margin : 0 auto;    
}
.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
    overflow: hidden;
  }
  .container {
      background:#F3F1F1;
      padding-top: 30px;
      padding-bottom: 30px;
      align-items: center;
  }
  